@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  background: #0a0a0a;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 40px;
}

h1 {
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 5rem;
  font-weight: 400;
  color: #525252;
  text-align: center;
  margin-bottom: 50px;
}

.screen-container {
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sreenShot {
  height: 100%;
  max-height: 450px;
  width: 100%;
  max-width: 300px;
  flex: 1 0 15%;
  margin: 10px;
  border-radius: 20px;
  border: 3px solid #ff6f28;
}

.qrcode-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #f7f7f9;
  text-align: center;
  margin-top: 50px;
}

.qrCode {
  margin: 50px 0;
}

p {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: #f7f7f9;
  text-align: center;
}

span {
  color: #ff6f28;
}

/* -------------- */
/* MEDIA QUERIES  */
/* -------------- */

@media (max-width: 740px) {
  h1 {
    font-size: 3rem;
    /* margin-bottom: 0; */
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
  }
}

@media (max-width: 550px) {
  .sreenShot {
    max-height: none;
  }
}

@media (max-width: 430px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
    line-height: 2rem;
  }
}